* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #2d2c41;
    font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

#nav {
    position: fixed;
    top: 12%;
    width: 18%;
    height: 53%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 30px -6px #aaaaaa;
    z-index: 1;
}

#corporate_panel {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    width: 82%;
    height: 7%;
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    color: #1f9b8c;
    padding: 15px;
    box-shadow: 0 3px 30px -6px #aaaaaa;
}

#corporate_panel a {
    position: relative;
    color: #1f9b8c;
    font-family: Ubuntu,sans-serif;
    text-align: left;
    font-variant: normal;
    font-weight: 700;
    font-size: 1.3vw;
}

#logo {
    position: absolute;
    display: block;
    top: 0;
    width: 18%;
    height: 7%;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    text-align:center;
    -moz-box-shadow: 0 3px 30px -6px #aaaaaa;
    -webkit-box-shadow: 0 3px 30px -6px #aaaaaa;
    box-shadow: 0 3px 30px -6px #aaaaaa;
}

#header {
    position: absolute;
    display: flex;
    top: 7%;
    width: 18%;
    height: 5%;
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    margin: auto;
    z-index: -1;
}

#header a {
    position: relative;
    color: #1f9b8c;
    font-family: Ubuntu,sans-serif;
    text-align: center;
    margin: auto;
    font-variant: normal;
    font-weight: 700;
    font-size: 1vw;
}

#popup {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 18%;
    height: 35%;
    background:#ffffff;
    text-align: center;
    padding: 10px;
    margin: auto;
    border-top-style: solid;
    border-color: rgb(172, 172, 172);
    border-width: 0.1mm;
    
}

#header-popup {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    background: whitesmoke;
    text-align: center;
    margin: auto;
    border-bottom-style: solid;
    border-color: rgb(172, 172, 172);
    border-width: 0.1mm;
}

#header-popup a {
    position: relative;
    color: #1f9b8c;
    font-family: Ubuntu,sans-serif;
    text-align: center;
    margin: auto;
    font-variant: normal;
    font-weight: 700;
    font-size: 1vw;
}

#features {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
	height: 90%;
	border-radius: 3px;
    overflow: auto;
    background: rgb(231, 231, 231);
    overflow: scroll;
}

#table {
    border: "1";
}


#map {
    position: absolute;
    top: 7%;
    bottom: 0;
    width: 82%;
    right: 0;
    height: 93%;
    z-index: -1;

}

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.menu {
  position:absolute;
  z-index:1;
  top:10%;
  right:10px;
  border-radius:3px;
  width:120px;
  }
.menu button {
  font:13px/20px 'Helvetica Neue', sans-serif;
  background:whitesmoke;
  color:#606060;
  display:block;
  width:100%;
  margin:0;
  padding:0;
  padding:10px;
  border:none;
  border-bottom:1px solid rgba(0,0,0,0.25);
  cursor:pointer;
  }
  .menu button:first-child {
    border-radius:3px 3px 0 0;
    }
  .menu button:last-child {
    border-radius:0 0 3px 3px;
    border:none;
    }
  .menu button.active,
  .menu button:hover {
    background-color:#e6e6e6;
    }

    ul {
        list-style-type: none;
    }
    
    a {
        color: #0e0e0e;
        text-decoration: none;
        text-align: right;
    }
    
    /** =======================
     * Contenedor Principal
     ===========================*/
    h1 {
        color: #FFF;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        margin-top: 80px;
    }
    
    h1 a {
        color: #0e0e0e;
        font-size: 16px;
    }
    
    .accordion {
        object-fit: fill;
        width: 100%;
        height: 100%;
        background: rgb(231, 231, 231);
        max-width: none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        overflow: scroll;
    }
    
    
    .accordion .link {
    
        cursor: pointer;
        display: block;
        padding: 15px 15px 15px 42px;
        color: #606060;
        font-size: 14px;
        font-weight: 700;
        border-bottom: 1px solid #CCC;
        position: relative;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    #new {
        color:#535353;
        height: 2%;
        width: 3%;
    }
    
    .accordion li:last-child .link {
        border-bottom: 0;
    }
    
    .accordion li i {
        position: absolute;
        top: 16px;
        left: 12px;
        font-size: 18px;
        color: #595959;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    
    .accordion li i.fa-chevron-down {
        right: 12px;
        left: auto;
        font-size: 16px;
    }
    
    .accordion li.open .link {
        color: #606060;
    }
    
    .accordion li.open i {
        color: #606060;
    }
    
    .accordion li.open i.fa-chevron-down {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    
    .accordion li.default .submenu {
        display: block;
    }
    
    .submenu {
        display: none;
        background: rgb(255, 255, 255);
        font-size: 13px;
    }
    
    .submenu li {
        border-bottom: 1px solid #606060;
    }
    
    .submenu li {
        cursor: default;
        display: block;
        text-decoration: none;
        color: #606060;
        padding: 10px;
        padding-left: 42px;
        padding-right: 42px;
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
    
    }
    
    .submenu input {
        cursor: pointer;
        float: right;
    }
    
    .submenu a {
        cursor: default;
        color: #606060;
    }
    
    
    .submenu li:hover {
        background: rgba(255, 217, 0, 0.808);
        color: #606060;
        border-left: 4px solid #1F9B8C;
    }
    
    
    /* width */
    ::-webkit-scrollbar {
        width: 12px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    #copy_coordinates {
        position: absolute;
        bottom: 12%;
        left: 19%;
    }

    .info {
        width: 175px;
        background-color: whitesmoke;
        color: #606060;
        font: 13px/20px 'Helvetica Neue', sans-serif;
        border-radius: 3px;
        bottom: 35px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
        padding: 10px;
        position: absolute;
        right: 1%;
        z-index: 1;
    }
    
    #myInput {
        width: 150px;
    }

    .tooltip {
        position: relative;
        display: inline-block;
      }
      
      .tooltip .tooltiptext {
        visibility: hidden;
        width: 300px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
      }
      
      .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }